@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");

.container {
    margin: auto;
    width: 650px;
    height: 550px;
    position: relative
}

.welcome {
    background-image: url("img/风景.png");
    background-size: cover;
    width: 650px;
    height: 415px;
    position: absolute;
    top: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)
}

.pinkbox {
    position: absolute;
    top: -10%;
    left: 5%;
    /* background: #EAC7CC; */
    background-image: url("img/竹子.png");
    background-size: 320px 500px;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
    z-index: 2
}

.nodisplay {
    display: none;
    transition: all .5s ease
}

.leftbox,
.rightbox {
    position: absolute;
    width: 50%;
    transition: 1s all ease
}

.leftbox {
    left: -2%
}

.rightbox {
    right: -2%
}

h1 {
    
    text-align: center;
    margin-top: 95px;
    text-transform: uppercase;
    color: #000000;
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "华文行楷";
}

.title {
    font-family: "Lora", serif;
    color: #000000;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 20%;
    font-family: '华文行楷';
}

.desc {
    margin-top: -8px
}

.account {
    margin-top: 45%;
}

p {
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-family: '华文行楷';
}

span {
    color: #000000;
    font-size: 18px;
    font-family: '华文行楷';
}

.flower {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 46%;
    left: 29%;
    opacity: .7
}

.smaller {
    width: 90px;
    height: 100px;
    top: 48%;
    left: 38%;
    opacity: .9
}

button {
    padding: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: 0;
    display: block
}

button:hover {
    background-image: linear-gradient(to top,  #888787 0%, #ffffff 0%, black 100%);
    color: #ffffff;
    transition: background-color 1s ease-out
}

.button {
    margin-top: 3%;
    background-image: linear-gradient(to top, black 0%, #ffffff 0%, #888787 100%);
    color: #000000;
    font-family: '华文行楷';
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px
}

.more-padding {
    padding-top: 35px
}

.more-padding input {
    padding: 12px
}

.more-padding .submit {
    margin-top: 45px
}

.submit {
    margin-top: 25px;
    padding: 12px;
    border-color: #000000
}

.submit:hover {
    background-image: linear-gradient(to top,  #888787 0%, #ffffff 0%, black 100%);
    border-color: #000000
}

input {
    background-image: linear-gradient(to top, black  0%, #ffffff 0%, #888787 100%);
    width: 65%;
    /* color: #000000; */
    border: 0;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
    padding: 9px;
    margin: 7px;
    font-family: "华文行楷";
}

input::placeholder {
    /* color: #050505; */
    letter-spacing: 2px;
    font-size: 1.3em;
    font-weight: 100
}

input:focus {
    outline: 0;
    border-bottom: 1.2px solid rgba(247, 247, 247, 0.7);
    font-size: 1em;
    transition: .8s all ease
}

input:focus::placeholder {
    opacity: 0
}

