* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wai,
#dengdai {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
    background-image: url("img/水墨山水.jpg");
}

#list {
    width: 198px;
    height: 100%;
    overflow: auto;
    border-right: 3px solid #000000;
    float: left;
}

#list>ul {
    margin-top: 50px;
}

#account {
    width: 195px;
    height: 50px;
    position: absolute;
    border-top-left-radius: 10px;
}

#account-information {
    width: 160px;
    float: left;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: "华文行楷", serif;
}

#addFriend-but {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: #595757;
    border-color: #000000;
    font-size: 20px;
    font-family: "华文行楷", serif;
    color: white;
}

/* 不显示滚动条 */
::-webkit-scrollbar {
    width: 0px;
}

#friend {
    user-select: none;
    cursor: pointer;
}

#list li {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    list-style: none;
    margin: 5px 10px;
    background-color: #e8e8e86c;
    border-radius: 10px;
    font-family: "KaiTi", serif;
}

#list li:hover {
    background-color: #bebebe98;
}

#djsx {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 20px;
    transition: transform 2s;
}

#information {
    width: 795px;
    height: 100%;
    overflow: auto;
    float: right;
    display: none;
}

#infoConfig {
    height: 50px;
    border-bottom: 1px solid #999999;
}

#infoConfig>span {
    line-height: 50px;
    margin-left: 20px;
}

#infoConfig>button {
    width: 80px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

#info {
    padding: 10px;
    height: 350px;
    border-top-right-radius: 10px;
    overflow: auto;
}

.you {
    float: left;
    background-color: #e8e8e86c;
}

.me {
    text-align: right;
    float: right;
    background-color: #e8e8e86c;
}

.you,
.me {
    margin: 5px;
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.datetime {
    font-size: 10px;
}

.text {
    line-height: 20px;
    letter-spacing: 1px;
}

#input_from {
    width: 750px;
    height: 80px;
    margin: 5px auto;
}

#input_from textarea {
    width: 750px;
    height: 80px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    padding: 5px;
    background-color: #ffffff73;
}

#input_from input {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 13px;
    right: 25px;
}

#dengdai {
    font-size: 50px;
    line-height: 500px;
    text-align: center;
}

.addFriend-frame {
    width: 550px;
    height: 350px;
    background-image: linear-gradient(to top, black 0%, #ffffff 2%, #888787 100%);
    position: absolute;
    top: 48%;
    left: 57%;
    margin-top: -150px;
    margin-left: -250px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    display: none;
}

.addFriend-frame span {
    font-family: "KaiTi", serif;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}


.addFriend-frame img {
    width: 200px;
    height: 300px;
    position: absolute;
    left: -20px;
    opacity: 0.5;
    z-index: 0;
}

.addFriend-frame input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    font-family: "KaiTi", serif;
}



.addFriend-frame>div>button {
    width: 50px;
    height: 30px;
    background-image: linear-gradient(to top, black 0%, #3a3a3a 2%, #a4a4a4 100%);
    color: white;
    font-family: "KaiTi", serif;
    font-size: 18px;
    font-weight: 600;
}

.addFriend-frame>button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.addFriend-frame button img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 30px;
    height: 30px;
}




#friendApply {
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
}

#friendApplyTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    font-family: "华文行楷", serif;
    font-size: 20px;
}


#friendApplyContentFrame {
    overflow: auto;
    height: 150px;
}

#friendApplyContentFrame>div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}

#friendApplyContentFrame span {
    width: 100px;
    text-align: left;
    float: left;
}

#friendApplyContentFrame button {
    float: right;
    margin-top: 2px;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}

#requestFriend {
    position: absolute;
    top: 0;
    border-radius: 8px;
    width: 395.5px;
    height: 195.5px;
    background-color: #999999;
    display: none;
    border: 3px solid #999999;
}

#close-requestFriend {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #00000000;
    border: none;
    color: red;
    font-size: 25px;
}

#friendInformationDisplay {
    position: absolute;
    top: 10px;
    left: 5px;
    text-align: left;
    width: 300px;
    height: 45px;
}

#friendInformationDisplay>p {
    white-space: nowrap;
}

.friendInformationDisplayLeft {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.friendInformationDisplayRight {
    display: inline-block;
    text-align: left;
    width: 243px;
}

#greetings {
    width: 80%;
    margin: auto;
}

#greetingsText {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 60px;
}

#greetings-but {
    width: 100%;
    border-radius: 10px;
}