* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#wai,
#dengdai {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
    background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

#list {
    width: 198px;
    height: 100%;
    overflow: auto;
    border-right: 3px solid #a6c1ee;
    float: left;
}

#list>ul {
    margin-top: 50px;
}

#account {
    width: 195px;
    height: 50px;
    position: absolute;
    background-color: #fbc2eb;
    border-top-left-radius: 10px;
}

#account-information {
    width: 160px;
    float: left;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#addFriend-but {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: #a782ff;
    border-color: #ffd1ff;
    font-size: 20px;
    color: white;
}

/* 不显示滚动条 */
::-webkit-scrollbar {
    width: 0px;
}

#friend {
    user-select: none;
    cursor: pointer;
}

#list li {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    list-style: none;
    margin: 5px 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

#list li:hover {
    background-color: #a782ff;
}

#information {
    width: 800px;
    height: 100%;
    overflow: auto;
    float: right;
    display: none;
}

#info {
    padding: 10px;
    height: 400px;
    background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
    border-top-right-radius: 10px;
    overflow: auto;
}

.you {
    float: left;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.me {
    text-align: right;
    float: right;
    border-color: greenyellow;
    background-color: rgba(172, 255, 47, 0.3);
}

.you,
.me {
    margin: 5px;
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.datetime {
    font-size: 10px;
}

.text {
    line-height: 20px;
    letter-spacing: 1px;
}

#input_from {
    width: 750px;
    height: 80px;
    margin: 5px auto;
}

#input_from textarea {
    width: 750px;
    height: 80px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    padding: 5px;
    background-color: #ffffff73;
}

#input_from input {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 13px;
    right: 25px;
    background-color: #fbc2eb;
    border-color: #00000088;
    border-top-color: #a18cd1;
    border-left-color: #a18cd1;
}

#dengdai {
    font-size: 50px;
    line-height: 500px;
    text-align: center;
}

.addFriend-frame {
    width: 500px;
    height: 300px;
    background-color: #a6c1ee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    border: 2px dashed #ffd1ff;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    display: none;
}

.addFriend-frame input {
    width: 200px;
    border: none;
    background-color: #a6c1ee;
    border-bottom: 3px solid #7faeff;
    outline: none;
}

.addFriend-frame>div>button {
    width: 50px;
    border-color: #a18cd1;
    background-color: #7faeff;
    color: white;
}

.addFriend-frame>button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
}

#friendApply {
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border: 3px dashed #a18cd1;
    border-radius: 10px;
    position: relative;
}

#friendApplyTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #a18cd1;
    font-weight: 600;
}

#friendApplyContentFrame {
    overflow: auto;
    height: 150px;
}

#friendApplyContentFrame>div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-bottom: 2px solid #a782ff;
}

#friendApplyContentFrame span {
    float: left;
}

#friendApplyContentFrame button {
    float: right;
    margin-top: 2px;
    width: 80px;
    height: 25px;
    background-color: #7faeff;
    border-color: #a782ff;
}

#requestFriend {
    position: absolute;
    top: 0;
    border-radius: 8px;
    width: 395.5px;
    height: 195.5px;
    background-color: #7faeff;
    display: none;
}

#close-requestFriend {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #00000000;
    border: none;
    color: red;
    font-size: 25px;
}

#friendInformationDisplay {
    border-bottom: 1px solid #000;
    position: absolute;
    top: 10px;
    left: 5px;
    text-align: left;
    width: 300px;
    height: 45px;
}

.friendInformationDisplayLeft {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.friendInformationDisplayRight {
    display: inline-block;
    text-align: left;
    width: 243px;
}

#greetings {
    width: 80%;
    margin: auto;
}

#greetingsText {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 60px;
    background-color: #ffffff73;
}

#greetings-but {
    width: 100%;
    background-color: #a18cd1;
    border-color: #a782ff;
    border-radius: 10px;
}